
    <footer>
        <p class="footer">© Adonis Becerra 2023</p>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="sweetalert2.all.min.js"></script>
    <script src="js/static.js"></script>
</body>
</html>